.mainSetionDiv{
    background-color: aquamarine;
    width: 100%;
    height: auto;
    border-radius: 10px;
.headingDiv{
    text-align: center;
    padding-top: 20px;
}
.formMthodDiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
.inputStye{
    width: 540px;
    @media only screen and (max-width: 625px) {        
            width: auto !important;
      }
}
.TextAreaDiv{
    color: black !important;
}
.loadingData{
    display: flex;
    justify-content: center;
}
}