.MianDivNavbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    // border-radius: 10px;
    margin: -11px;
    padding: 12px;


     .Logo{
            margin-left: 10px;
        }

    .UlDesin{
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 24px;
    margin-right: 14px;
    .UlDesin ,ul ,li:hover{
        background-color: aqua;
        color:black;
        font-size: 24px;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        text-align: center;
    }
    }
}