.MianDivNavbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    // border-radius: 10px;
    margin: -11px;
    padding: 12px;


     .Logo{
            margin-left: 10px;
            @media only screen and (max-width: 458px) {        
                font-size: 16px;
        }}

    .UlDesin{
    display: flex;
    gap: 6px;
    list-style: none;
    font-size: 24px;
    margin-right: 14px;
    @media only screen and (max-width: 458px) {        
        font-size: 12px;
  }
  ul ,li ,a{
    text-decoration: none;
    color: white;

  }
    .UlDesin ,ul ,li:hover{
        background-color: aqua;
        color:black;
        font-size: 24px;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        text-align: center;
    }
    }
    @media only screen and (max-width: 345px) {        
        .loginButton{
            font-size: 10px;
            height: 26px;
            padding: 1px 9px;
            font-weight: 700;
        }
  }
}